/* TEXTS */

h1, h2, .nav-p, .nav-description{
    font-family: 'Goldman', cursive;
    color: #fff;
}

p{
    font-family: 'Montserrat Alternates', sans-serif;
    color: #000;
}

h1 {
    margin-top: 0;
    font-size: 80px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 1.44rem;
    font-family: 'Goldman', cursive;
}









